
<div class="container user">
  <form class="form">

    <div class ="row col" id="invalidCredentialsUser" *ngIf="loginError" >
      <div class="form__group">
        <label>
          <h6> Error : invalid username or password!</h6>
        </label>
      </div>

    </div>
    <div class="form__group">
      <input type="text" id="username" name="username" placeholder="username" class="form__input"
             [(ngModel)]="userCredentials.username"/>
    </div>

    <div class="form__group">
      <input type="password"  id="password" placeholder="password" name="password" class="form__input"
             [(ngModel)]="userCredentials.password"/>
    </div>

    <button id="login" class="btn" type="button" (click)="onClickLogin()">Login</button>

    <div class ="row">

      <div class="form__group">
        <label>
          <div class="col btn btn-primary-outline border-0" style="background-color: transparent"
               id="forgotPassword" href="#">Forgot password?</div>
        </label>
      </div>

    </div>
  </form>

</div>

