<!-- Button (Double) -->
<div class="container-fluid mx-auto my-auto">

  <div *ngIf="deletionSuccess" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Deleted!</h1>
      <p class="lead">Redirecting to  sections list.   </p>
    </div>
  </div>

  <div *ngIf="deletionError" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Error!</h1>
      <p class="lead">{{errorMessage}} </p>
    </div>
  </div>

  <form *ngIf="section">
    <div class="row px-2">
      <h3 class="mr-auto">Edit section</h3>
      <button class="btn-danger rounded" (click)="onClickDelete()"> Delete section</button>
    </div>

    <div class="py-2 form-group row">
      <label for="title" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input type="text"  class="form-control" id="title" value="{{section.title}}">
      </div>
    </div>

    <div class="form-group row">
      <label for="totalSeats" class="col-sm-2 col-form-label">Total seats</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="totalSeats" value="{{section.totalSeats}}">
      </div>
    </div>

    <div class="form-group row mx-auto justify-content-center">
      <label class="col control-label" for="submit"></label>
      <div class="col">
        <button id="submit" name="submit" class="btn btn-primary"
        (click)="onClickSubmit()">Submit</button>
      </div>

      <div class="col">
        <button id="cancel" name="submit" class="btn btn-secondary"
                (click)="onClickCancel()">Cancel</button>
      </div>
  </div>

    </form>

</div>


