<h1>Course Id  : {{courseId}} </h1>
<p>
  course-view works!
</p>

<div class="row">
  <div class="col-sm-12 col-lg-4 ">

    <ul class="mx-2 list-group ">
      <li class="list-group-item active">Modules</li>

      <li class="list-group-item d-flex align-items-center justify-content-around">
       Available seats
        <span class="align-content-end badge badge-primary badge-pill">{{availableSeats}}</span>
      </li>
      <li class="list-group-item">Module 1 </li>
      <li class="list-group-item">Module 2 </li>
      <li class="list-group-item">Module 3 </li>
      <li class="list-group-item">Module 4 </li>
    </ul>

  </div>
  <div class="col-sm-12 col-lg-8">
    <div class="row ">
      <ul class= " nav nav-tabs nav-fill">
        <li class="nav-item">
          <a class="nav-link " href="#">
            Active-Lesson1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lesson 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lesson 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>

    <div class="my-2 row text-dark">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item " *ngIf="test">
          <a class="nav-link active " href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">topic 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">topic 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>


    random column right
    <h4 class="display-4">
      Heading test
    </h4>


    <h4>
      Paragraph test
    </h4>
    <p>
      A common English usage misconception is that a paragraph has three to five sentences;
      single-word paragraphs can be seen in some professional writing, and journalists often
      use single-sentence paragraphs.[1]

      The crafting of clear, coherent paragraphs is the subject of considerable stylistic debate.
      Forms generally vary among types of writing. For example, newspapers, scientific journals, and
      fictional essays have somewhat different conventions for the placement of paragraph breaks.

      English students are sometimes taught that a paragraph should have a topic sentence
      or "main idea", preferably first, and multiple "supporting" or "detail" sentences which explain
      or supply evidence. One technique of this type, intended for essay writing, is known as the Schaffer paragraph.
      For example, the following excerpt from Dr. Samuel Johnson's Lives of the English Poets, the
      first sentence is the main idea: that Joseph Addison is a skilled "describer of life and manners".
      The succeeding sentences are details that support and explain the main idea in a specific way.
    </p>


  </div>
</div>
