<!--The content below is only a placeholder and can be replaced.-->


<div >


  <router-outlet>
    <app-nav-bar></app-nav-bar>
    <!--<app-dialog-overview-example></app-dialog-overview-example>-->



  </router-outlet>

  <div class="jumbotron-fluid " *ngIf="isLoggedIn">
    <p><strong>{{idleState}}</strong></p>
    <p *ngIf="lastPing"><small>Last keepalive ping <strong>{{lastPing | amTimeAgo}}</strong></small></p>
    <button (click)="reset()" *ngIf="timedOut">Restart</button>
  </div>

</div>



