<body>
<div class="container-fluid vertical-center">
  <div class="container-fluid align-items-center ">
    <h3 class="display-4 pull-left"> Profile</h3>
    <div class=" pull-right">
      <button class="btn-group btn-lg btn-outline-secondary rounded" style="cursor: pointer"
      (click)="handleClickEditProfile()">Edit</button>
    </div>


  </div>
  <div *ngIf="profile" class="row align-items-center col align-self-center">
    <div class="col">

      <div class="card hovercard rounded">
        <div class="cardheader">

        </div>
        <div class="avatar">
          <img alt="" src="https://lh3.googleusercontent.com/-V8XXuxLSSC8/WhQYSv4O9NI/AAAAAAAADdM/o5UYNsZ8ZKgrynkegZQv6blgzwpfmdDUwCMYCGAYYCw/s180/google_moodlamp_192x192.png">
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="http://scripteden.com/">{{profile.firstName}} {{profile.lastName}}</a>
          </div>
          <a href="#">
            <i class="fas fa-edit"></i>

          </a>
          <div class="desc"> {{profile.username}}</div>


          <div class="desc">{{profile.email}}</div>
          <div class="desc"> {{profile.phone}}</div>
          <div class="desc">Birthday : {{profile.dob}} </div>

        </div>
        <div class="bottom">
          <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="btn btn-danger btn-sm" rel="publisher"
             href="https://plus.google.com/+ahmshahnuralam">
            <i class="fab fa-google-plus"></i>
          </a>
          <a class="btn btn-primary btn-sm" rel="publisher"
             href="https://plus.google.com/shahnuralam">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>

    </div>

  </div>
</div>

</body>
