


<div class="container">


    <h4>Currently enrolled</h4>
    <div class="card-deck">

        <div class="card"  *ngFor="let course of courses">
          <img class="card-img-top" src="https://picsum.photos/300/100"
           alt="Card image cap">
          <div class="card-body">

              <a routerLink="/course/{{course.id}}">

                <h5 class="card-title">

                {{course.title}}</h5>

              </a>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>




          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <a href="#" class="mx-2 btn btn-primary">Un-enroll</a>

          </div>
        </div>
      </div>

    <h4>Available courses</h4>
    <div class="card-deck">
        <div class="card"  *ngFor="let course of courses">
          <img class="card-img-top" src="https://picsum.photos/300/300"
           alt="Card image cap">
          <span class="badge   privateBadge glyphicon glyphicon-lock ml-auto" *ngIf="course.private">Private</span>
          <div class="card-body">
            <h5 class="card-title">{{course.title}}</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Enroll</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>

          </div>
        </div>
      </div>

  </div>
